.eightBallText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
  cursor: text;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  word-wrap: break-word;

  transition: opacity 0.75s ease;
}

.eightBallText::-webkit-scrollbar { 
  display: none;
}