:root {
  --font: Helvetica, sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  gap: 40px;
}

/* dialog */
dialog {
  border-radius: var(--border-radius);
  background-color: white;
  padding: 1.5rem;
  border: 2px solid var(--border-color);
  font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
  dialog {
    width: 100vw;
    height: 100vh;
  }
}

.dialogClose {
  font-size: var(--font-size-small);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2em 0.5em;
  font-weight: bold;
  border: 3px solid transparent;
  background-color: red;
  border-radius: 0.3em;
  color: white;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.dialogClose:hover {
  background-color: crimson;
}

.dialogClose:active {
  border: 3px solid rgb(255, 140, 140);
}

/* elements */
input {
  width: 20rem;
  font-size: 1rem;
  padding: 0.3em;
  font-family: 'Helevetica', sans-serif;

  background-color: rgb(243, 243, 243);
  border: 2px solid #cacaca;
}

input:disabled {
  cursor: not-allowed;
}

textarea {
  font-family: var(--font);
  width: 20rem;
  height: 12rem;
  border-radius: 0.3em;
  resize: none;
  border: 2px solid rgb(0, 128, 255);
  padding: 0.3em;
}

button {
  font-family: 'Helvetica', sans-serif;
  padding: 1em;
  border-radius: 0.5em;
  transition: background-color 0.1s linear;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonRed {
  background-color: rgb(255, 47, 0);
  color: white;
}

.buttonRed:hover {
  background-color: rgb(210, 38, 0);
}

.buttonGreen {
  background-color: rgb(95, 234, 3);
  color: white;
}

.buttonGreen:hover {
  background-color: rgb(0, 128, 0);
}

.buttonBlue {
  background-color: #3d3da3;
  color: white;
}

.buttonBlue:hover {
  background-color: #303084;
}

/* mobile friendly */
@media only screen and (max-width: 700px),
(max-height: 800px) {
  .notanerd {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .notanerd:hover {
    transform: translate(-50%, 0) scale(1.1);
  }
}