/* Variables */
/* Animations */
@keyframes shake8Ball {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% { transform: translate(5px, 5px) rotate(2deg); }
  10%, 30%, 50%, 70% { transform: translate(-10px, -10px) rotate(-10deg); }
  20% { transform: translate(-20px, 0px) rotate(15deg); }
  40% { transform: translate(15px, -10px) rotate(12deg); }
  60% { transform: translate(-20px, 5px) rotate(10deg); }
  80% { transform: translate(-10px, -10px) rotate(15deg); }
  90% { transform: translate(10px, 15px) rotate(5deg); }
  100% { transform: translate(10px, -15px) rotate(-8deg); }
}

/* Eight Ball */
.eightBall {  
  position: relative;

  width: min(60vw, 60vh);
  aspect-ratio: 1 / 1;

  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 60px #bf60ff;
  overflow: hidden;
  background-size: 100% 100%;
  background: radial-gradient(
    circle at 5% 5%,
    rgb(59, 59, 59),
    rgba(0, 0, 0),
    #000
  );

  transition: transform var(--transition-normal);
}

.eightBall:hover {
  transform: scale(1.05);
}

.eightBall:active {
  transform: scale(.95);
}

.eightBall.shake {
  animation: shake8Ball 0.5s infinite linear;
  cursor: default;
}

.eightBallWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;

  width: 100%;

  gap: 40px;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* Question Input */
.askQuestionInput {
  position: relative;
  display: inline-block;
}

.askQuestionInput input {
  font-size: 1em;
  width: 27rem;
  padding: 0.6rem;
  border-radius: var(--radius-lg);
  margin: 0;
  cursor: text;
}

.askQuestionInput button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

/* Media Queries */
@media screen and (max-width: 1279px), (max-height: 1400px) {
  .askQuestionInput input {
    width: 20rem;
  }
}

@media screen and (max-width: 1279px) {
  .eightBall {
    width: min(67vw, 67vh);
  }
}

@media screen and (max-width: 767px) {
  .eightBall {
    width: min(80vw, 80vh);
  }
}