.sidebar {
  width: 25%;
  height: 95vh;
  margin-right: 1vh;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  max-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  border: 2px fill #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.editorContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editorHeader > button {
  font-size: 0.6em;
}

.editorItem {
  display: flex;
  gap: 5px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebarHidden {
  display: none;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    width: 90%;
    margin: 2%;
    border-radius: var(--radius-md);
    overflow: auto;
    height: 40vh;
  }
}