.userReviews {
  font-size: large;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1 1 200px;

  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  border-radius: 0.5rem;

  gap: 5px;

  text-align: center;
}

.userReviewsAuthor {
  font-style: italic;
  font-size: 0.75em;
  color: gray;
}

.userReviewsStars {
  position: absolute;
  top: 100%;
  transform: translateY(calc(-100% - 15px));
}

.stars {
  display: flex;
}