@import "tailwindcss";

@keyframes boomboxBounce {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05, 0.95);
  }
  50% {
    transform: scale(0.97, 1.03);
  }
  75% {
    transform: scale(1.03, 0.98);
  }
}

html {
  font-size: clamp(1px, 1.4vw, 22px);
}

:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
}