@import "tailwindcss";

.true-comic {
  font-family: 'Comic Sans MS', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comic Neue', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  @apply text-5xl font-bold;
}