@import "tailwindcss";

@keyframes boomboxBounce {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05, 0.95) translateY(3px);
  }
  50% {
    transform: scale(0.97, 1.03);
  }
  75% {
    transform: scale(1.03, 0.98) translateY(3px);
  }
}

.true-comic {
  font-family: 'Comic Sans MS', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(13px, 1.8vw, 20px);
}

body {
  font-family: 'Comic Neue', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  @apply text-5xl font-bold;
}

button {
  @apply cursor-pointer;
}