@import "tailwindcss";

@font-face {
  font-family: 'Tiktok Sans';
  src: url('/TiktokSans.ttf') format('truetype');
  font-display: swap;
}

html {
  font-size: clamp(14px, 1.5vmin, 18px);
  scroll-behavior: smooth;
}

body {
  font-family: 'Tiktok Sans', sans-serif;
}

h1 {
  @apply text-5xl font-bold;
}

input, textarea {
  @apply p-4 rounded-2xl bg-white/20 border border-white/30 text-white placeholder-white/60;
}

input:focus, textarea:focus {
  @apply border-white/40 outline-none ring-2 ring-white/20;
}