@import "tailwindcss";

html {
  font-size: clamp(10px, calc(0.3vw + 0.7vh), 19px);
}

@keyframes fadeIn {
  from { opacity: 0; scale: 1.1; }
  to { opacity: 1; scale: 1.2; }
}


.rainbow-text {
  background: linear-gradient(
    90deg, /* Horizontal movement for smoothness */
    #ff6b6b,
    #ffa771,
    #ffe066,
    #a8e6cf,
    #87cefa,
    #b4a5f3,
    #f5a3e0,
    #ff6b6b
  );

  background-size: 200% 100%; /* double width for smooth scrolling */
  animation: rainbowShift 6s linear infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
