@import 'tailwindcss';

html {
  font-size: calc(0.5vw + 0.8vh);
}

body {
  color: white;
}

h1 {
  @apply text-5xl font-bold;
}

input, textarea {
  @apply p-4 text-white border rounded-2xl bg-white/20 border-white/30 placeholder-white/60;
}

input:focus, textarea:focus {
  @apply outline-none border-white/40 ring-2 ring-white/20;
}

button {
  @apply py-3.5 px-4 rounded-2xl cursor-pointer;
}