.eightBall {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80vw, 80vh);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.questionTextContainer {
  max-width: 100vw;
  max-height: 10vh;
  padding: 15px;
}

.questionText {
  text-align: center;
  font-weight: bold;
}