@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

html {
  font-size: larger !important;
}

body {
  color: black;
  background-color: orange;
}
